In [1]:
import sqlite3

In [4]:
db_conn = sqlite3.connect('db/klientai.db')
cursor = db_conn.cursor()

In [10]:
cursor.execute('SELECT * FROM client;')
clients = cursor.fetchall()
# print(clients)
for client in clients:
    print(client)

(1, 'Kestutis', 'Januskevicius', 'kestas@gka.lt', '+37069xxx411', 2)
(2, 'Piktas', 'Trintukas', 'piktas@gka.lt', 'nesakysiu', 1)
(3, 'Rimtas', 'Komunikatorius', 'info@zebra.lt', '+37046300000', 3)

In [33]:
cursor.execute('SELECT * FROM address;')
clients = cursor.fetchall()
# print(clients)
for address in clients:
    print(address)

(1, 'Middle of Everywhere', '92307', 'Klaipėda', 'Lithuania')
(2, 'Middle of Nowhere', '82820', 'Maukkula', 'Finland')
(3, 'H.Manto 2', '92100', 'Klaipėda', 'Lithuania')
(4, 'Nauja gatve', '00100', 'Naujamiestis', 'Naujasalis')
(5, 'Draugystės pr. 13', '77151', 'Šiauliai', 'Lithuania')
(6, 'Draugystės g. 15', '31211', 'Visaginas', 'Lithuania')
(7, 'Skardžio g. 8', 'neatsimena', 'Gilužiai', 'Lithuania')

In [8]:
cursor.execute('''INSERT INTO address (street, zip, city, country) VALUES (     
    "H.Manto 2", "92100", "Klaipėda", "Lithuania" 
);''')
cursor.execute('''INSERT INTO client (first_name, last_name, email, phone, address_id
               ) VALUES (
               "Rimtas", "Komunikatorius", "info@zebra.lt", "+37046300000", 3
               );''')
db_conn.commit()

In [29]:
cursor.execute('''SELECT last_name, street || ", " || city FROM client 
               JOIN address ON address_id=address.id
               WHERE country LIKE "%th%";''')
clients = cursor.fetchall()
# print(clients)
for client in clients:
    print(client)

('Trintukas', 'Middle of Everywhere, Klaipėda')
('Komunikatorius', 'H.Manto 2, Klaipėda')

In [22]:
vardas = input("Įveskite vardą: ")
with db_conn:
    cursor.execute(f'SELECT * FROM client WHERE first_name LIKE "%{vardas}%"')
    clients = cursor.fetchall()
if clients:
    for client in clients:
        print(client)

In [24]:
vardas = input("Įveskite vardą: ")
with db_conn:
    cursor.execute('SELECT * FROM client WHERE first_name = ?', (vardas, ))
    clients = cursor.fetchall()
if clients:
    for client in clients:
        print(client)

In [26]:
first_name = "Naujas"
last_name = "Gerulis"
email = "naujas@gka.lt"
phone = "+37069999428"
street = "Nauja gatve"
city = "Naujamiestis"
zip = "00100"
country = "Naujasalis"

address_query = 'INSERT INTO address (street, zip, city, country) VALUES (?, ?, ?, ?)'
client_query = 'INSERT INTO client (first_name, last_name, email, phone, address_id) VALUES (?, ?, ?, ?, 4)'
with db_conn:
    cursor.execute(address_query, (street, zip, city, country))
    cursor.execute(client_query, (first_name, last_name, email, phone))

In [32]:
with db_conn:
    cursor.execute('''SELECT last_name, street || ", " || city FROM client 
                JOIN address ON address_id=address.id
                ;''')
    clients = cursor.fetchall()
# print(clients)
for client in clients:
    print(client)

('Januskevicius', 'Middle of Nowhere, Maukkula')
('Trintukas', 'Middle of Everywhere, Klaipėda')
('Komunikatorius', 'H.Manto 2, Klaipėda')
('Gerulis', 'Nauja gatve, Naujamiestis')

In [31]:
address_query = 'INSERT INTO address (street, zip, city, country) VALUES (?, ?, ?, ?)'
client_query = 'INSERT INTO client (first_name, last_name, email, phone, address_id) VALUES (?, ?, ?, ?, ?)'

addresses = [
    ("Draugystės pr. 13", "77151", "Šiauliai", "Lithuania"),
    ("Draugystės g. 15", "31211", "Visaginas", "Lithuania"),
    ("Skardžio g. 8", "neatsimena", "Gilužiai", "Lithuania"),
]
with db_conn:
    cursor.executemany(address_query, addresses)

In [35]:
cursor.execute('SELECT rowid, id, street, city, country FROM address;')
clients = cursor.fetchall()
# print(clients)
for address in clients:
    print(address)

(1, 1, 'Middle of Everywhere', 'Klaipėda', 'Lithuania')
(2, 2, 'Middle of Nowhere', 'Maukkula', 'Finland')
(3, 3, 'H.Manto 2', 'Klaipėda', 'Lithuania')
(4, 4, 'Nauja gatve', 'Naujamiestis', 'Naujasalis')
(5, 5, 'Draugystės pr. 13', 'Šiauliai', 'Lithuania')
(6, 6, 'Draugystės g. 15', 'Visaginas', 'Lithuania')
(7, 7, 'Skardžio g. 8', 'Gilužiai', 'Lithuania')