In [2]:
def darau_betka():
    print("betkas padaryta...")

darau_betka()
darau_betka()
darau_betka()

betkas padaryta...
betkas padaryta...
betkas padaryta...

In [3]:
def daryti(ka):
    print(f"darau {ka}...")

daryti("pritupimus")

darau pritupimus...

In [4]:
def skaiciaus_tipas(skaicius):
    if type(skaicius) == int:
        print("Įvestas skaičius yra sveikasis.")
    elif type(skaicius) == float:
        print("Įvestas skaičius yra trupmeninis.")
    else:
        print("Įvestas argumentas nėra skaičius.")

skaiciaus_tipas(25)
skaiciaus_tipas(7.77)
skaiciaus_tipas("X")

Įvestas skaičius yra sveikasis.
Įvestas skaičius yra trupmeninis.
Įvestas argumentas nėra skaičius.

In [5]:
def ar_keliamieji(metai):
    if metai % 4 == 0 and metai % 100 != 0 or metai % 400 == 0:
        print(f"{metai} yra keliamieji")
    else:
        print(f"{metai} yra nekeliamieji")

ar_keliamieji(1996)
ar_keliamieji(2000)
ar_keliamieji(1900)
ar_keliamieji(2023)

1996 yra keliamieji
2000 yra keliamieji
1900 yra nekeliamieji
2023 yra nekeliamieji

In [6]:
def pasisveikinti(vardas, pavarde):
    print(f"Sveikas {vardas} {pavarde}")

pasisveikinti("Kestutis", "Januskevicius")

Sveikas Kestutis Januskevicius

In [7]:
for metai in range(2000, 2030):
    ar_keliamieji(metai)

2000 yra keliamieji
2001 yra nekeliamieji
2002 yra nekeliamieji
2003 yra nekeliamieji
2004 yra keliamieji
2005 yra nekeliamieji
2006 yra nekeliamieji
2007 yra nekeliamieji
2008 yra keliamieji
2009 yra nekeliamieji
2010 yra nekeliamieji
2011 yra nekeliamieji
2012 yra keliamieji
2013 yra nekeliamieji
2014 yra nekeliamieji
2015 yra nekeliamieji
2016 yra keliamieji
2017 yra nekeliamieji
2018 yra nekeliamieji
2019 yra nekeliamieji
2020 yra keliamieji
2021 yra nekeliamieji
2022 yra nekeliamieji
2023 yra nekeliamieji
2024 yra keliamieji
2025 yra nekeliamieji
2026 yra nekeliamieji
2027 yra nekeliamieji
2028 yra keliamieji
2029 yra nekeliamieji

In [8]:
def kvadratu(skaicius):
    return skaicius ** 2

print(kvadratu(11))

121

In [9]:
print(kvadratu(kvadratu(3)))

81

In [10]:
3 ** 2 ** 2

81

In [11]:
def dalybos_regresija(skaicius):
    skaicius /= 2
    print(skaicius)
    if skaicius > 1:
        dalybos_regresija(skaicius)

In [12]:
dalybos_regresija(11)

5.5
2.75
1.375
0.6875

In [13]:
dalybos_regresija(123456)

61728.0
30864.0
15432.0
7716.0
3858.0
1929.0
964.5
482.25
241.125
120.5625
60.28125
30.140625
15.0703125
7.53515625
3.767578125
1.8837890625
0.94189453125

In [14]:
def suma(skaicius1, skaicius2):
    return skaicius1 + skaicius2

print(suma(7, 18))

25

In [15]:
def skaiciu_suma_ir_sandauga(a, b):
    suma = a + b
    sandauga = a * b
    return suma, sandauga

In [16]:
print(skaiciu_suma_ir_sandauga(3, 7))

(10, 21)

In [17]:
suma, sanudauga = skaiciu_suma_ir_sandauga(5, 6)
print(suma)
print(sanudauga)

11
30

In [18]:
skaiciai = [17, -7, 3, 28, -91, -4, 5.2, -11.11, 5]

def iskyrimas(skaiciai):
    teigiami = []
    neigiami = []
    for skaicius in skaiciai:
        if skaicius >= 0:
            teigiami.append(skaicius)
        else:
            neigiami.append(skaicius)
    return teigiami, neigiami

rez_teigiami, rez_neigiami = iskyrimas(skaiciai)
print(rez_teigiami)
print(rez_neigiami)

[17, 3, 28, 5.2, 5]
[-7, -91, -4, -11.11]

In [19]:
kiti_skaiciai = list(range(-20, 30))
pliusiniai, minusianiai = iskyrimas(kiti_skaiciai)
print(pliusiniai)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [20]:
def pasisveikinti(vardas, pasisveikinimas="Labas"):
    print(f"{pasisveikinimas} {vardas}!")

pasisveikinti("Kestutis")
pasisveikinti("Kestutis", "Sveikas")

Labas Kestutis!
Sveikas Kestutis!

In [21]:
def skaiciuoti_kaina(kaina, nuolaida=0, pvm=21):
    kaina_su_nuolaida = kaina * (1 - nuolaida / 100)
    kaina_su_pvm = kaina_su_nuolaida * (1 + pvm / 100)
    return kaina_su_pvm

print(skaiciuoti_kaina(100))

121.0

In [22]:
print(skaiciuoti_kaina(200, 33))

162.14

In [23]:
print(skaiciuoti_kaina(1, 0, 10))

1.1

In [24]:
print(skaiciuoti_kaina(1, pvm=10))

1.1

In [25]:
kaina = 11
nuolaida = 3
kaina_su_pvm = skaiciuoti_kaina(kaina, nuolaida)
print(kaina_su_pvm)

12.9107

In [27]:
def mazinti_iki(skaicius, po=10, iki=0):
    skaicius -= po
    if skaicius >= iki:
        print(skaicius)
        return mazinti_iki(skaicius, po, iki)
    else:
        return skaicius

print(mazinti_iki(101))
print(mazinti_iki(33, 3, 23))

91
81
71
61
51
41
31
21
11
1
-9
30
27
24
21

## funkcijos su args ir kwargs

In [1]:
def spausdinti_argus(*args):
    for arg in args:
        print(arg, end=" ")
    print()

In [4]:
spausdinti_argus("sveiki,", "kaip", "sekas?")

sveiki, kaip sekas?

In [7]:
def spausdinti_argus2(*args, sep=" ", end="\n"):
    print(*args, sep=sep, end=end)

In [8]:
spausdinti_argus2("Nauja", "optimali", "argu", "spausdykle")

Nauja optimali argu spausdykle

In [12]:
def sandauga(*args):
    rezultatas = 1
    for skaicius in args:
        if type(skaicius) == int or type(skaicius) == float:
            rezultatas *= skaicius
    return rezultatas
    
print(sandauga(2, 2, 2, 5, 11))

440

In [13]:
print(sandauga())

1

In [17]:
def sujungti(*args, skirtukas=" "):
    zodziai = list(args)
    for index, zodis in enumerate(zodziai):
        zodziai[index] = str(zodis)
    return skirtukas.join(zodziai)

print(sujungti("labai", "apsiniaukes", "siandien", "oras", 20, "netraukia"))

labai apsiniaukes siandien oras 20 netraukia

In [18]:
def tipo_filtras(tipas, *args):
    filtruoti = []
    for arg in args:
        if type(arg) == tipas:
            filtruoti.append(arg)
    return filtruoti

print(tipo_filtras(float, "labas", 3.14, 7.88, 123, -11, 3.33333))

[3.14, 7.88, 3.33333]

In [21]:
def ilgiai(*args):
    rezultatas = []
    for arg in args:
        rezultatas.append(len(str(arg)))
    return rezultatas

print(ilgiai("daug", "graziu", 100, "dalyku"))

[4, 6, 3, 6]

In [23]:
def didziausias(*args):
    rezultatas = args[0]
    for arg in args:
        if arg > rezultatas:
            rezultatas = arg
    return rezultatas

print(didziausias(5, -2, 4, 77, 11, -10, -789))

77

In [24]:
print(didziausias(*ilgiai("daug", "graziu", 100, "dalyku")))

6

### kwargs

In [25]:
def zmogaus_info(**kwargs):
    for raktas, reiksme in kwargs.items():
        print(f"{raktas:10}: {reiksme}")

zmogaus_info(vardas="Kestutis", pavarde="Januskevicius", pareigos="Smegenu mazgotojas")

vardas    : Kestutis
pavarde   : Januskevicius
pareigos  : Smegenu mazgotojas

In [27]:
zmogaus_info(vardas="Gerule", pavarde="Panike", amzius=19, tipas="paselusi")

vardas    : Gerule
pavarde   : Panike
amzius    : 19
tipas     : paselusi

In [35]:
def saskaita(**produktai):
    suma = 0
    for produktas, kaina in produktai.items():
        suma += kaina
        print(f"{produktas:16} | {kaina:>10.2f}")
    print(f"{'VISO':16} | {suma:>10.2f}")

In [36]:
saskaita(
    pienas=2.20,
    kiausiniai=7,
    uogiene=3.5,
    majonezas=2.19
)

pienas           |       2.20
kiausiniai       |       7.00
uogiene          |       3.50
majonezas        |       2.19
VISO             |      14.89

In [37]:
produktai = {
    'pienas':2.11,
    'kiausiniai':5.2
}

saskaita(**produktai)

pienas           |       2.11
kiausiniai       |       5.20
VISO             |       7.31

In [39]:
def spausdinti_argumentus(vardas, *args, **kwargs):
    print(f"Vardas: {vardas}")
    for key, value in kwargs.items():
        print(f"{key}: {value}")
    for arg in args:
        print(arg)

spausdinti_argumentus("Jonas", "linksmas", "draugiškas", "drąsus", miestas="Vilnius", amzius=30)

Vardas: Jonas
miestas: Vilnius
amzius: 30
linksmas
draugiškas
drąsus

In [41]:
spausdinti_argumentus("Kibiras", "kiauras", talpa="20L")

Vardas: Kibiras
talpa: 20L
kiauras

In [45]:
pasaulis = "didelis"
print(pasaulis)

def vietinis(pasaulis):
    print(f"pasaulis buvo: {pasaulis}")
    pasaulis = "mazas"
    print(f"dabar pasaulis liko: {pasaulis}")

vietinis(pasaulis)
print(f"Koks isliko pasaulis? {pasaulis}")

didelis
pasaulis buvo: didelis
dabar pasaulis liko: mazas
Koks isliko pasaulis? didelis

In [47]:
pasaulis = "didelis"
print(pasaulis)

def vietinis():
    global pasaulis
    print(f"pasaulis buvo: {pasaulis}")
    pasaulis = "mazas"
    print(f"dabar pasaulis liko: {pasaulis}")

vietinis()
print(f"Koks isliko pasaulis? {pasaulis}")

didelis
pasaulis buvo: didelis
dabar pasaulis liko: mazas
Koks isliko pasaulis? mazas

In [48]:
suma = lambda skaicius1, skaicius2: skaicius1 + skaicius2
print(suma(2, 3))

5

In [52]:
print(tuple(map(lambda skaicius: skaicius ** 2, [2, 6, 7, 3])))

(4, 36, 49, 9)

In [55]:
zodziai = ['alus', 'baravykas', 'duona', "česnakas", 'cukrus', 'jogurtas']
pagal_ilgi = sorted(zodziai, key=lambda zodis: len(zodis))
print(pagal_ilgi)

['alus', 'duona', 'cukrus', 'česnakas', 'jogurtas', 'baravykas']

In [58]:
skaiciai = list(range(1, 11))
lyginiai = list(filter(lambda skaicius: skaicius % 2 == 0, skaiciai))
print(lyginiai)

[2, 4, 6, 8, 10]

In [60]:
zodziai
su_u = list(filter(lambda zodis: 'u' in zodis, zodziai))
print(su_u)

['alus', 'duona', 'cukrus', 'jogurtas']